<p id="notice"><%= notice %></p>

<h1>
  <%= @tournament.name %>
</h1>

<h2>
  Players
  <%= render 'players/index' %>  
</h2>

<%= button_to "Create Teams", tournament_generate_teams_path(@tournament.id) %>
