<h1>Editing Player</h1>

<%= render 'form', player: @player, url: tournament_player_path(tournament_id: @tournament.id, id: @player.id) %>

<%= link_to 'Back', tournament_players_path(@tournament.id) %>
